/*----*\
GOOGLE FONTS
\*----*/
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Nanum+Gothic:wght@400;700;800&display=swap');


:root {

  --text-color: #382e2c;
  --title-color: white;
  --gold-color: #C2B063;
  --bg-color: white;
  --bg-color-obs: #b0a198;
  --bg-color-claro: #f2edc0;
  --first-gradient: linear-gradient(0deg,
      var(--bg-color-alt) 0%,
      var(--bg-color) 100%);
  --second-gradient: linear-gradient(180deg,
      var(--bg-color-alt) 0%,
      var(--bg-color) 100%);
  --third-gradient: linear-gradient(180deg,
      var(--bg-color) 0%,
      var(--bg-color-alt) 100%);

  --body-font: 'Gilda Display', serif;
  --second-font: 'Nanum Gothic', sans-serif;

  --shadow: 5px 5px rgb(255 255 255 %10);

  --transition: cubic-bezier(0.3, 0, 0.3, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
body {
  font-family: var(--body-font);
  font-size: 16px;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: 700;
}

ul {
  list-style: none;
}

p {
  line-height: 1.7;
}

a {
  text-decoration: none;
}

input,
textarea,
button {
  border: none;
  outline: none;
  background-color: transparent;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

.container {
  background-color: var(--bg-color);
  max-width: 1300px;
  padding-inline: 12px;
  margin-inline: auto;
}
